.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 100vh;
  width: 1800px;
  padding: 16px;
  background-color: #f6f6f6;
}

.leftMainContainer {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightMainContainer {
  padding: 100px;
  display: flex;
  flex: 2;
}

.reportSection {
  display: flex;
  padding-top: 0px;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  align-items: left;

  color: white;
  text-align: left;
}

.logo {
  width: 150px;
  height: auto;
}

.navbar {
  display: flex;
  gap: 1rem;
}

.loadingBarContainer {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  height: 20px;
}

.noIssueMessage {
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #c3e6cb;
}

.headerContainer {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  height: 100px;
}

.clearButton img {
  width: 24px;
  height: auto;
}

.loadingBar {
  height: 20px;
  background-color: #ff0000;
  width: 0%;
  transition: width 0.5s ease-in-out;
  border-radius: 8px;
}

.navLink {
  /* color: white; */
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  text-decoration: underline;
}

.navLink:hover {
  background-color: rgb(201, 36, 36);
}

.fileItem {
  display: flex;
  flex-direction: row;
  border: none;
  width: 30%;
  cursor: pointer;
  color: rgb(0, 0, 0);
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: transparent;
}

.fileItem:hover {
  background-color: #e6e6fa; /* Light purple background */
  color: #4b0082; /* Dark purple text */
}

.fileList {
  display: flex;
  margin-left: 80px;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 400px;
  gap: 8px;
  width: 100%;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topMainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.dropBoxHover {
  border: 2px dashed #df6a6a;
  padding: 40px;
  width: 100%;
  min-height: 100px;
  cursor: pointer;
  background-color: #fdaeae;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragBox {
  border: 2px dashed grey;
  padding: 20px;
  margin-left: 80px;
  width: 100%;
  min-height: 100px;
  cursor: pointer;
  background-color: #fffefe;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
